img {
    padding: 2px 2px 2px 2px;
    border: solid 4px gray;
    border-radius: 30px 30px 30px 30px;
    width: 450px;
    height: 400px;
    
}
.string{
    text-decoration: line-through;
}
.element, h1 {
    color: rgb(125, 161, 4)
}
#Ball {
    background: aqua;
}
#Cartinti {
    background: rebeccapurple;
}
#Zvonci {
    background: salmon;
}
#Pars {
    font-weight: bold;
    background: hotpink;
}
table, td{
    border: 2px solid blue;
    border-collapse: collapse;
}
td {
    padding:5px;
}
#Dnevnic {
    background: slateblue;
}
#Bugalteria {
    background: seagreen;
}
