h1{
    color: #f92672;
}

img{
    padding: 2px 2px 2px 2px;
    border: solid 4px gray;
    border-radius: 30px 30px 30px 30px;
}
body{
    
    image: src="https://minio.nplus1.ru/app-images/178182/60d7b371c9ad2a17c302b00d4d5a74b8.jpg";
}
#Ball{
    color: red;
}
#Pars{
    font-weight: bold;
}