*{
    margin: 0;
    padding: 0;
}
#wrapper {
    position: relative;
}
#send{
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    bottom: 0;
}
#sent_message{
    width: 150px;
    font-size: 20px;
    color: white;
    background-color: rgb(56, 79, 56);
    cursor: pointer;
    
}
#message{
    font-size: 20px;
    line-height: 60px;
    width: inherit;
}
#chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 60px;
}
.message {
    width: fit-content;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.author{
    display: block;
    font-weight: bold;
    text-decoration-line: underline;
    padding-bottom: 10px;
    font-size: large;
}
.time{
    font-size: x-small;
    display: block;
    text-align: right;
    padding-top: 10px;
}

.friend{
    background-color: #ccc;
    border: 1px solid #999;
}
.me{
    background-color: #7282bf;
    border: 1px solid #261591;
    align-self: flex-end;
}
